.navbar{
    background: #151E33;

}

.navbar ul li {
    display:inline-block;
    vertical-align: top;
    padding: 20px 50px ;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    color: #7AE7EF;
    cursor: pointer;
}